[Unit]
Description=light up the display
DefaultDependencies=no

[Service]
ExecStart=gpio -g pwm 13 1024
ExecStart=gpio -g mode 13 pwm
Type=oneshot

[Install]
WantedBy=sysinit.target
