[Unit]
Description=pigogui
After=sway.service
PartOf=sway.service

[Service]
ExecStartPre=/bin/sh -c 'until [ -S "$XDG_RUNTIME_DIR/wayland-1" ]; do sleep 0.2; done'
ExecStart=/opt/pigo/pigogui/start.sh
Type=simple
Restart=on-failure
RestartSec=2
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=sway.service
