xwayland disable

bar {
    mode hide
}

# Display ohne EDID: Auflösung und Refresh explizit setzen
output * {
    mode 320x240
    scale 1
    transform normal
}

# Spiele: immer Vollbild
for_window [app_id=".*"] fullscreen enable

# pigogui: schwebendes HUD – immer im Vordergrund, auf allen Workspaces
for_window [app_id="pigogui"] fullscreen disable
for_window [app_id="pigogui"] floating enable
for_window [app_id="pigogui"] sticky enable

default_border none
floating_modifier none
seat * hide_cursor 1000
